# Ignore Gradle project-specific cache directory
.gradle
.idea

# Ignore Gradle build output directory
app/output
output/*
!output/dict.opf

bin/
build/
app/bin
app/build
.gradletasknamecache
gradle-app.setting
!gradle-wrapper.jar
*.jar
*.class

.vscode/
.code-workspace
