# Ignore Gradle project-specific cache directory
.gradle
.idea

# Ignore Gradle build output directory
app/output
output/

bin/
[Bb]uild/
app/bin
app/[Bb]uild
.gradletasknamecache
gradle-app.setting
!gradle-wrapper.jar
*.jar
*.class

.vscode/
.code-workspace
