# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
app/output

bin/
build/
.gradletasknamecache
gradle-app.setting
!gradle-wrapper.jar
*.jar
*.class

.vscode/
.code-workspace
